.signup-btn {
    background: rgb(107, 91, 250);
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 4px;
    border-style: none;
    font-size: 1.3rem;
    color: white;
    margin: 10px;
    width: 160px;
    height: 45px;

  }
  .btn-container{
    align-items: center;
    display: flex;
    justify-content: center;
  }